node_modules
.DS_Store
.env
dist
build
coverage
.vercel
*.log
*.local
prisma/*.db
prisma/*.db-journal
server/package.json
server/package-lock.json
server/package-lock.json
client/package-lock.json
client/package.json
